.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.login-wrapper .error {
    color: #550000;
    background: #ff000055;
    padding: 15px 50px;
    margin-bottom: 15px;
    border: 1px solid #ff0000;
    border-radius: 5px;
}

.login-wrapper form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid var(--primary);
}

.login-wrapper form input {
    font-size: 18px;
    padding: 5px 10px;
    color: #000000;
    margin-bottom: 10px;
    outline: none;
    border: none;
    border-bottom: 1px var(--primary) solid;
}

.login-wrapper form button {
    font-size: 18px;
    padding: 5px 10px;
    color: white;
    background-color: var(--primary);
    border: none;
    outline: none;
    cursor: pointer;
}

.login-wrapper form button:focus,
.login-wrapper form button:hover {
    background-color: var(--primary-focus);
}